@{
    ViewBag.Title = "Main";
}

<h2>You can add new post!</h2>

@Html.ActionLink("Add New Post", "CreatePost", "Post", null)
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="~/Scripts/script.js"></script>

<div>
    <table id="posts"></table>
</div>

